# KiCad user-specific settings
*.kicad_prl

# KiCad temporary lock files
~*.lck
*.lck

# Automatic backups
*-backups/
_autosave-*
*.kicad_sch-bak
*.kicad_pcb-bak

# Generated cache
fp-info-cache

# Operating system files
.DS_Store
Thumbs.db
desktop.ini
